* {
	margin: 0;
	padding: 0;
}
section {
	background:#87CEFA;
	position: relative;
	height:100vh;
}
.casa {
	background: #9370DB;
	height: 320px;
	width:350px;
	top: 200px;
	left: 100px;
	position: absolute;
}
.teto {
	width: 0px;
	/*height: 500vh;*/
	border-left: 175px solid transparent;
	border-right: 175px solid transparent;
	border-bottom: 175px solid #145267;	
	position: relative;
	left: 100px;
	top: 25px;
}